recognition/img
recognition/train
test/test

### img
dataset/images/train/*/*.png
dataset/images/train/*/*.jpg
dataset/images/val/*/*.png
dataset/images/val/*/*.jpg

### txt
# dataset/labels/train/*/*.txt
# dataset/labels/val/*/*.txt
